@import "@fortawesome/fontawesome-free/css/all.css";

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent body from scrolling */
  height: 100vh; /* Ensure body takes up the full viewport height */
}

#modal-overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  align-items: center;
  justify-content: center;
}

#modal-overlay #modal {
  padding: 20px 20px 20px 20px;
  max-width: 650px;
  width: 100%;
  background: white;
  height: 400px;
}

#popup-title {
  position: relative;
  left: 86px;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 30px;
}

.post-container {
  width: 75%;
  text-align: right;
}

.form-container {
  max-width: 72%;
}

#title-input {
  font-size: 20px;
  width: 50%;
  border-radius: 5px;
  box-shadow: 0px 4px 5px rgb(0, 0, 0, 0.1);
  width: 100%;
}

#description {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 200px;
  resize: none;
  border-radius: 5px;
  box-shadow: 0px 4px 5px rgb(0, 0, 0, 0.1);
}

form {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#popup-heading {
  display: flex;
  justify-content: space-between;
}
#popup-heading > h4 {
  margin: 0px 0px 0px 0px;
}

#make-post-button {
  border: none;
  transition: 0.5s;
  height: fit-content;
  padding: 10px 20px 10px 20px;
  font-size: 15px;
  border-radius: 12px;
  background-color: rgb(159, 33, 33);
  color: white;
  border: black 1px solid;
}

#make-post-button:hover {
  background-color: rgb(216, 38, 38);
  border: black 1px solid;
}

#close-popup {
  border: none;
  transition: 0.5s;
  height: fit-content;
}

#make-posts {
  border-radius: 5px;
  border: 1px black solid;
  box-shadow: 0px 4px 5px rgb(0, 0, 0, 0.2);
}

#options-total {
  width: 100%;
}

.sidebar-options {
  width: fill-available;
  background-color: #333;
  transition: background-color 0.4s;
  width: 100%;
}

.sidebar-options > a {
  width: fill-available;
  height: fill-available;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.sidebar-options:hover {
  background-color: brown;
}

.container {
  display: flex;
  height: 100vh; /* Ensure container takes up the full viewport height */
}

.sidebar {
  width: 250px;
  background-color: #333;
  color: #fff;
  height: 100vh; /* Ensure sidebar takes up the full viewport height */
  padding-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Shadow box */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
}

.sidebar h1 {
  color: #fff;
  padding: 10px;
  margin: 0;
  background-color: #333;
  text-align: center;
}

#search-button {
  width: 40px;
  height: 40px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 10px;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
}

#auth {
  margin-top: 160%; /* Push the logout button to the bottom */
}

#search-results {
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  width: 1100px;
  height: 500px;
  margin-top: 20px;
  background-color: #877171;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #ccc; /* Enable vertical scrolling if content overflows */
}

/* Search bar styles */
.search-container {
  margin: 20px;
}

.search-container input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: solid 1px black;
  width: 80%;
}

.search-container button {
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
  color: #333;
  background-image: url("search-icon.png"); /* Path to your search icon image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#search-button {
  /* background-color: rgb(245, 245, 245); */
  /* transition: background 0.3s ease; */
}

.search-container button:hover {
  background: #ccc;
}

.post-box {
  border: 1px solid black;
  padding: 10px;
  margin: 10px 10px 10px 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  height: 200px;
  background-color: rgb(245, 245, 245);
  color: black;
}

.post-box h3 {
  margin: 0 0 5px 0;
}

.post-box p {
  margin: 0 0 5px 0;
}
.custom-link {
  text-decoration: none;
  color: white;
 }

 #umd-bulletin {
  text-align: center; /* Centers the text horizontally */
 }

 

